body {
  background: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
  border: 2px solid black;
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

header{
  border-bottom: 2px solid black;
}

header h1{
  text-align: center;
}

main {
  padding: 10px 20px;
}

h1 {
  color: #e74c3c;
}

.entry{
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}