@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{  
  box-sizing: border-box;
}
body {
  background: #9dbee2; 
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.logo{
  color: #e74c3c;
  letter-spacing: 8px;
  font-size: 38px;
}

.hidden{
  display: none;
}

.container{
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

.container main{
  background: #ffffff;
}

#users-container{
  text-align: center;

}

header{
  background: #525151;
}

header h1{
  text-align: center;
  padding:20px;
  margin:0; 
}

main {
  padding: 10px 20px;
}

nav{
  display: flex;
  justify-content: space-around;
}

nav a{
  text-decoration: none;
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
}

nav a:hover{
color:white;
}

nav a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.entry, .full-entry{
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  position: relative;
}

#error-msg{
  color: #ff0033;
}

#create-entry-container{
  text-align: center;
}

.comment{
  padding: 0 10px 10px 10px;
  margin: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.comment p:first-of-type{
  font-weight: 600;
}

.small-text{
  display: inline-block;
  font-size: 0.8em;
  margin: 0 10px 0 0 ;
}

.edit-comment-form{
  margin: 10px 0;
}

.highlight-author{
  font-size:20px;
  font-weight:bold;
  color:#e74c3c;
}

#load-btn{
  margin:0 auto;
}

.view-header{
  text-align: center;
}

button{
  letter-spacing: 1px;
  padding: 5px 15px !important;
  margin: 0px 3px !important;
  outline: none !important;
}

.full-entry-btn,input[type=submit],.edit-entry-btn,.create-comment,.edit-comment-btn{
  color: #ffffff;
  text-transform: uppercase;
  background: #355fb8;
  padding: 5px;
  border: 1px solid #355fb8;
  border-radius: 6px;
  display: inline-block;
}

.full-entry-btn:hover,input[type=submit]:hover,.edit-entry-btn:hover,.create-comment:hover,.edit-comment-btn:hover{
cursor: pointer;
background:#6782bb;
border:1px solid #6782bb;
transition: all 0.3s;
}

.delete-entry-btn,.delete-comment-btn{
  color: #ffffff;
  text-transform: uppercase;
  background:rgb(201, 4, 4);
  padding: 5px;
  border: 1px solid rgb(201, 4, 4);
  border-radius: 6px;
  display: inline-block;
}

.delete-entry-btn:hover,.delete-comment-btn:hover{
  cursor: pointer;
  color: #ffffff;
  background: rgb(233, 65, 65);
  border-color: rgb(233, 65, 65);
  transition: all 0.3s ease 0s;
}

.like-btn{
  position: relative;
  top: 4px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 15px;
}
.likes{
  position: relative;
  top: 2px;
}

.disable{
  pointer-events: none;
  opacity: 0.2;
}

.entry{
  position: relative;
}

.entry .created-at, .full-entry .created-at{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 14px;
}

.entry-username{
  position: absolute;
  top: 0;
  right: 10px;
}

.entry-content{
  padding: 20px 0;
}

.entry-title{
  font-size: 24px;
}

.entry-title, .entry-username{
  margin-top: 5px;
}

#search{
  padding: 4px;
  border: none;
  border-radius: 4px;
}

#users-container p{
  padding: 15px;
  margin: 0;
}

#users-container p:nth-child(odd){
  background: rgb(248, 248, 248);
}

.full-entry .created-at{
font-size: 20px;
}

.full-entry .highlight-author{
  position: absolute;
  top:0;
  right:10px;
}

textarea{
  resize: none;
}
